*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: #fcdb00;
	font-family: 'Permanent Marker', cursive;
}

canvas {
	position: relative;
	box-shadow: 0px 0px 51px 10px rgba(75, 65, 15, 0.72);
}

.score {
	font-size: 3rem;
	float: right;
}

#game-over {
	width: 100vw;
	position: absolute;
	left: 0;
	right: 0;
	top: 15rem;
	z-index: 1;
	display: none;
	background-color: black;
	opacity: .7;
	height: 250px;
	text-align: center;
	color: white;
}

#game-over p {
	color: red;
	font-size: 4rem;
	margin-bottom: 1rem;
}

#game-over button,
#game-over a {
	font-size: 2rem;
	color: black;
	background: #fcdb00;
	padding: 1rem 3rem;
	border-radius: 10px;
	border: none;
	outline: none;
	font-family: 'Permanent Marker', cursive;
}

#game-over button:active,
#game-over a:active {
	color: #fcdb00;
	background: black;
}

#game-over button:hover,
#game-over a:hover,
#game-over button:focus,
#game-over a:focus {
	box-shadow: 0px 0px 51px 1px rgba(252, 219, 0, 0.72);
}

a {
	text-decoration: none;
}

#game-over a {
	margin-left: 2rem;
}
